<div *ngIf="isModalOpen" id="edit-task-modal" tabindex="-1" class="fixed inset-0 z-50 flex justify-center items-center w-full h-screen bg-indigo-50 bg-opacity-50 backdrop-blur-[2px]">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
        <h3 class="text-lg font-semibold text-gray-900">
          Modifier la tâche
        </h3>
        <button type="button" (click)="close()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
          <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l6 6m0 0l6 6M7 7l6-6M7 7L1 13"/>
          </svg>
          <span class="sr-only">Fermer</span>
        </button>
      </div>

      <!-- Modal body -->
      <form class="p-4 md:p-5" [formGroup]="taskForm" (ngSubmit)="onSubmit()">
        <div class="grid gap-4 mb-4 grid-cols-2">
          <!-- Nom de la tâche -->
          <div class="col-span-2">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Nom de la tâche</label>
            <input
              type="text"
              formControlName="name"
              id="name"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
              [attr.aria-invalid]="taskForm.get('name')?.invalid"
              placeholder="Nom de la tâche"
              required
            >
            <div *ngIf="taskForm.get('name')?.invalid && taskForm.get('name')?.touched" class="text-red-600 text-sm mt-1">
              Le nom de la tâche est requis.
            </div>
          </div>

          <!-- Description de la tâche -->
          <div class="col-span-2">
            <label for="description" class="block mb-2 text-sm font-medium text-gray-900">Description</label>
            <textarea
              formControlName="description"
              id="description"
              rows="4"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-indigo-500 focus:border-indigo-500"
              placeholder="Description"
            ></textarea>
          </div>

          <!-- Date d'échéance -->
          <div class="col-span-2">
            <label for="dueDate" class="block mb-2 text-sm font-medium text-gray-900">Date d'échéance</label>
            <input
              type="date"
              formControlName="dueDate"
              id="dueDate"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
              required
            >
            <div *ngIf="taskForm.get('dueDate')?.invalid && taskForm.get('dueDate')?.touched" class="text-red-600 text-sm mt-1">
              La date d'échéance est requise.
            </div>
          </div>

          <!-- Date de fin -->
          <div class="col-span-2">
            <label for="completionDate" class="block mb-2 text-sm font-medium text-gray-900">Date de fin</label>
            <input
              type="date"
              formControlName="completionDate"
              id="completionDate"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
            >
          </div>

          <!-- Priorité -->
          <div class="col-span-2">
            <label for="priority" class="block mb-2 text-sm font-medium text-gray-900">Priorité</label>
            <select
              formControlName="priority"
              id="priority"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 block w-full p-2.5"
              required
            >
              <option value="LOW">Faible</option>
              <option value="MEDIUM">Moyenne</option>
              <option value="HIGH">Haute</option>
            </select>
            <div *ngIf="taskForm.get('priority')?.invalid && taskForm.get('priority')?.touched" class="text-red-600 text-sm mt-1">
              La priorité est requise.
            </div>
          </div>
        </div>

        <!-- Bouton pour soumettre le formulaire -->
        <button
          type="submit"
          class="text-white inline-flex items-center bg-indigo-700 hover:bg-indigo-800 focus:ring-4 focus:outline-none focus:ring-indigo-300 font-medium rounded-lg text-sm px-3 py-2.5 text-center"
          [disabled]="taskForm.invalid"
        >
          <svg class="me-1 -ms-1 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path>
          </svg>
          Mettre à jour la tâche
        </button>

        <!-- Affichage des erreurs de soumission globales -->
        <div *ngIf="submissionError" class="text-red-600 text-sm mt-2">
          {{ submissionError }}
        </div>
      </form>
    </div>
  </div>
</div>
