<!-- dashboard.component.html -->

<button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200">
   <span class="sr-only">Open sidebar</span>
   <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
     <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
   </svg>
</button>

<!-- Sidebar toujours présent -->
<app-sidebar></app-sidebar>

<!-- Contenu principal -->
<div class="sm:ml-64">
  <div class="p-4 ">
     <div class="flex justify-between items-center pb-10">
        <div class="text-gray-900 font-medium text-lg p-2.5">
          <p class="text-gray-400">Bienvenue,</p>
          <span>{{ username }}</span>
        </div>
        <div class="flex flex-row gap-4">
          <!-- Formulaire de recherche -->
          <form class="flex items-center max-w-2xl mx-auto">   
            <label for="voice-search" class="sr-only">Search</label>
            <div class="relative w-full">
              <div class="absolute inset-y-0 start-0 flex items-center ps-3 text-gray-400 pointer-events-none">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                  <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg>
              </div>
              <input type="text" id="voice-search" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-2xl focus:ring-indigo-500 focus:border-blue-500 block ps-10 p-2.5 w-[500px]" placeholder="Chercher ici..." required />
            </div>
          </form>

          <!-- Bouton pour créer un projet -->
          <button (click)="openModal()" type="button" class="text-indigo-600 border-2 border-indigo-600 hover:bg-indigo-700 hover:text-white font-medium rounded-2xl text-sm px-3 py-2.5 text-center inline-flex items-center me-2 mb-2">
             <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
               <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
             </svg>                
               Créer un projet
          </button>
          <app-project-modal [isModalOpen]="isModalOpen" (close)="closeModal()"></app-project-modal>
        </div>
     </div>

     <!-- <router-outlet> pour charger les enfants -->
     <router-outlet></router-outlet>

  </div>
</div>
