.grid {
    .description {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: max-height 0.3s ease;
      max-height: 4.5rem; 
  
      div:hover & {
        -webkit-line-clamp: unset;
        max-height: 100%;
        overflow: visible;
      }
    }
  
    div {
      transition: all 0.3s ease-in-out;
    }
}

/* task-list.component.scss */
.todo-task-cursor {
  cursor: url('/assets/cursors/pink.svg'), auto;
}

/* Changer le curseur sur hover */
.todo-task-cursor:hover {
  cursor: url('/assets/cursors/pink.svg'), pointer;
}

.progress-task-cursor {
  cursor: url('/assets/cursors/orange.svg'), auto;
}

/* Changer le curseur sur hover */
.progress-task-cursor:hover {
  cursor: url('/assets/cursors/orange.svg'), pointer;
}

.completed-task-cursor {
  cursor: url('/assets/cursors/indigo.svg'), auto;
}

/* Changer le curseur sur hover */
.completed-task-cursor:hover {
  cursor: url('/assets/cursors/indigo.svg'), pointer;
}