<!-- Breadcrumb for navigation -->
<app-breadcrumb [breadcrumbs]="breadcrumbs"></app-breadcrumb>

<!-- Buttons to create and assign tasks -->
<div class="flex flex-row gap-4">
  <div>
    <!-- Button to create a task -->
    <button
      (click)="openTaskModal()"
      type="button"
      class="text-orange-600 border-1 border-indigo-100 hover:text-indigo-600 hover:bg-indigo-100 font-medium rounded-2xl text-sm px-3 py-2.5 text-center inline-flex items-center me-2 mb-2"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-clipboard-plus"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2"
        />
        <path
          d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z"
        />
        <path d="M10 14h4" />
        <path d="M12 12v4" />
      </svg>
      <span class="ml-2">Créer une tâche</span>
    </button>

    <!-- Task creation modal -->
    <app-task-modal
      [isModalOpen]="isTaskModalOpen"
      (closeModal)="closeTaskModal()"
      (taskCreated)="onTaskCreated()"
    ></app-task-modal>
  </div>
</div>

<!-- Task list with drag-and-drop support -->
<div
  class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 bg-slate-100 p-4 rounded-xl"
>
  <!-- TODO Section -->
  <div
    class="ring-1 ring-pink-300 border-double border-4 border-pink-100 ring-inset rounded-2xl p-4"
    dndDropzone
    (dndDrop)="onTaskDrop($event, 'TODO')"
  >
    <span class="text-lg font-semibold text-pink-500">À FAIRE</span>
    <div class="pt-4 flex flex-col gap-4">
      <!-- TASK TO DO -->

      <div
        *ngFor="let task of tasksTodo"
        dndDraggable
        [dndDraggable]="task"
        class="todo-task-cursor max-w-sm p-4 flex flex-col justify-between bg-white/50 border border-gray-200 rounded-2xl shadow-sm cursor-pointer transition-all duration-300 relative"
      >
        <!-- Div "HIGH" positionnée en haut de la carte -->
        <div
          class="absolute -top-3 left-1/2 transform -translate-x-1/2 bg-pink-500 text-white text-xs font-semibold px-6 py-1 rounded-full backdrop-blur-md shadow-md"
        >
          {{ task.priority }}
        </div>

        <div>
          <!-- Attribué à et bouton d'édition -->
          <div class="flex flex-row justify-between items-center pb-2">
            <div>
              <p class="text-[12px] text-gray-500">Attribué à :</p>
              <p class="text-sm">Mamadou</p>
            </div>
            <button
              class="flex items-center justify-center text-center text-slate-100 px-2 py-2 rounded-full bg-pink-500 w-[40px] h-[40px]"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-edit"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                />
                <path
                  d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                />
                <path d="M16 5l3 3" />
              </svg>
            </button>
          </div>

          <!-- Titre de la tâche -->
          <div class="flex flex-row gap-2 items-center text-indigo-600">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-checklist"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M9.615 20h-2.615a2 2 0 0 1-2 -2v-12a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8"
              />
              <path d="M14 19l2 2l4 -4" />
              <path d="M9 8h4" />
              <path d="M9 12h2" />
            </svg>
            <h5 class="mb-2 pt-2 text-lg font-medium tracking-tight">
              {{ task.name }}
            </h5>
          </div>
        </div>

        <!-- Description -->
        <div class="description">
          <p class="mb-3 font-normal text-sm text-gray-500">
            {{ task.description }}
          </p>
        </div>

        <!-- Projet et date limite -->
        <div class="bg-pink-50 p-2 rounded-lg mt-4">
          <p class="text-sm text-gray-900">
            PROJET : <span class="text-pink-600">{{ task.project?.name }}</span>
          </p>
          <div class="text-sm text-gray-900 uppercase pt-2">
            Date limite :
            <span class="text-pink-600">{{ task.dueDate | date }}</span>
          </div>
        </div>

        <!-- Boutons d'assignation -->
        <button
          *ngIf="!task.assignee"
          (click)="openAssignTaskModal(task.id, task.project.id)"
          class="text-white bg-indigo-600 hover:bg-indigo-700 font-medium rounded-lg text-sm mt-6 px-4 py-2"
        >
          Assigner cette tâche
        </button>
        <button
          *ngIf="task.assignee"
          disabled
          class="text-white bg-gray-400 font-medium rounded-lg text-sm px-4 py-2"
        >
          Déjà assignée
        </button>
      </div>
    </div>
    <!-- Modal d'assignation -->
    <app-assign-task-modal
      [isModalOpen]="isAssignTaskModalOpen"
      [selectedTaskId]="selectedTaskId"
      [selectedProjectId]="selectedProjectId"
      (closeModal)="closeAssignTaskModal()"
      (taskAssigned)="onTaskAssigned()"
    >
    </app-assign-task-modal>
  </div>

  <!-- IN PROGRESS SECTION -->
  <div
    class="ring-1 ring-orange-300 border-double border-4 border-orange-100 ring-inset rounded-2xl p-4"
    dndDropzone
    (dndDrop)="onTaskDrop($event, 'IN_PROGRESS')"
  >
    <span class="text-lg font-semibold text-orange-500">EN COURS</span>
    <div class="pt-4 flex flex-col gap-4">
      <div
        *ngFor="let task of tasksInProgress"
        dndDraggable
        [dndDraggable]="task"
        class="progress-task-cursor max-w-sm p-4 flex flex-col justify-between bg-white/50 border border-gray-200 rounded-2xl shadow-sm cursor-pointer transition-all duration-300 relative"
      >
        <!-- Div "HIGH" positionnée en haut de la carte -->
        <div
          class="absolute -top-3 left-1/2 transform -translate-x-1/2 bg-orange-500 text-white text-xs font-semibold px-6 py-1 rounded-full backdrop-blur-md shadow-md"
        >
          {{ task.priority }}
        </div>
        <div>
          <div class="flex flex-row justify-between items-center pb-2">
            <div>
              <p class="text-[12px] text-gray-500">Attribué à :</p>
              <p class="text-sm">Mamadou</p>
            </div>
            <button
              class="flex items-center justify-center text-center text-white px-2 py-2 rounded-full bg-orange-500 w-[40px] h-[40px]"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-edit"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                />
                <path
                  d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                />
                <path d="M16 5l3 3" />
              </svg>
            </button>
          </div>
          <div class="flex flex-row gap-2 items-center text-indigo-600">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-checklist"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M9.615 20h-2.615a2 2 0 0 1-2 -2v-12a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8"
              />
              <path d="M14 19l2 2l4 -4" />
              <path d="M9 8h4" />
              <path d="M9 12h2" />
            </svg>
            <h5 class="mb-2 pt-2 text-lg font-medium tracking-tight">
              {{ task.name }}
            </h5>
          </div>
        </div>
        <div class="description">
          <p class="mb-3 font-normal text-sm text-gray-500">
            {{ task.description }}
          </p>
        </div>
        <div class="bg-orange-50 p-2 rounded-lg mt-4">
          <p class="text-sm text-gray-900">
            PROJET :
            <span class="text-orange-600">{{ task.project?.name }}</span>
          </p>
          <div class="text-sm text-gray-900 uppercase pt-2">
            Date limite :
            <span class="text-orange-600">{{ task.dueDate | date }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- COMPLETED SECTION -->
  <div
    class="ring-1 ring-indigo-300 border-double border-4 border-indigo-100 ring-inset rounded-2xl p-4"
    dndDropzone
    (dndDrop)="onTaskDrop($event, 'COMPLETED')"
  >
    <span class="text-lg font-semibold text-indigo-600">TERMINÉ</span>
    <div class="pt-4 flex flex-col gap-4">
      <div
        *ngFor="let task of tasksCompleted"
        dndDraggable
        [dndDraggable]="task"
        class="completed-task-cursor max-w-sm p-4 flex flex-col justify-between bg-white/50 border border-gray-200 rounded-2xl shadow-sm cursor-pointer transition-all duration-300 overflow-hidden relative"
      >
        <div>
          <div class="flex flex-row justify-between items-center pb-2">
            <div>
              <p class="text-[12px] text-gray-500">Attribué à :</p>
              <p class="text-sm">Mamadou</p>
            </div>
            <button
              class="flex items-center justify-center text-center px-2 py-2 rounded-full text-white bg-indigo-500 w-[40px] h-[40px]"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="20"
                height="20"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-edit"
              >
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1"
                />
                <path
                  d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z"
                />
                <path d="M16 5l3 3" />
              </svg>
            </button>
          </div>
          <div class="flex flex-row gap-2 items-center text-indigo-600">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-checklist"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M9.615 20h-2.615a2 2 0 0 1-2 -2v-12a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8"
              />
              <path d="M14 19l2 2l4 -4" />
              <path d="M9 8h4" />
              <path d="M9 12h2" />
            </svg>
            <h5 class="mb-2 pt-2 text-lg font-medium tracking-tight">
              {{ task.name }}
            </h5>
          </div>
        </div>
        <div class="description">
          <p class="mb-3 font-normal text-sm text-gray-500">
            {{ task.description }}
          </p>
        </div>
        <div class="bg-indigo-50 p-2 rounded-lg mt-4">
          <p class="text-sm text-gray-900">
            PROJET :
            <span class="text-indigo-600">{{ task.project?.name }}</span>
          </p>
          <div class="text-sm text-gray-900 uppercase pt-2">
            Date limite :
            <span class="text-indigo-600">{{ task.dueDate | date }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
